@media (max-width: 1280px) {

    div.container div#pokedex-container {

        height: 80vh;
    
    }

    div.container div#pokemon-list {

        height: 70vh;

    }

}

@media (max-width: 1024px) {


    html {

        font-size: 50%;

    }

    div.container div#pokemon-list div.pokemon-card {

        max-width: 80px;
        flex: 1 1 80px;
        height: 100px;
    
    }


}

@media (max-width: 912px)  {

    div.container {

        flex-direction: column;
    
    }

    div.container div#pokedex-container {

        max-width: 100vw;
        height: 50vh;

    }

    div.container div#pokemon-list {
   
        flex-direction: column;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        max-width: 95vw;
        height: 15vh;
        padding: 1%;
        margin-top: 1%;
    
    } 

}

@media (max-width: 768px) {

    html {

        font-size: 56%;
 
    }

    div.container div#pokemon-list {
   
        height: 16vh;
    
    } 


}

@media (max-width: 510px) {

    html {

        font-size: 30%;
    }

    div.container div#pokedex-container {

        max-width: 100vw;
        height: 60vh;
    }


    div.container div#pokemon-list {
   
        max-width: 95vw;
        height: 18vh;
    
    }

}

@media (max-width: 450px) {

    html {

        font-size: 28%;
    }

}

@media (max-width: 410px) {

    html {

        font-size: 25%;
    }

    div.container div#pokedex-container {

        height: 55vh;
    }


    div.container div#pokemon-list {

        height: 17vh;
    
    }

}

@media (max-width: 360px) {

    html {

        font-size: 20%;
    }

    div.container div#pokedex-container {

        height: 50vh;
    }


    div.container div#pokemon-list {

        height: 16vh;
    
    }

}
