@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {

    font-size: 62.5%;
    right: 0;
    left: 0;
    top: 0;
}

body {

    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    
}

div.container {

    display: flex;
    align-items: center;
    padding: 1%;
    width: 100vw;
    height: 100vh;

    background-image: url("../images/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

div.container div#container-pokedex {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    width: 100%;
    height: 90vh;

}

div.container div#container-pokedex div#pokedex {

    display: flex;
    width: 90%;
    height: 100%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 53%;
    height: 100%;

    background-color: #DC0A2D;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000000;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main {

    display: flex;
    width: 100%;
    height: 18%;
    margin-bottom: 8%;
    padding: 1%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top {

    display: flex;
    justify-content: space-between;
    align-self: flex-start;

    width: 45%;
    height: 100%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top > div {

    width: 10%;
    height: 22%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    
}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top div#container-led-blue {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top div#container-led-blue div#led-blue {

    width: 80%;
    height: 80%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: #146BA0;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top div#led-red {


    background-color: #7A0000;
   

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top div#led-yellow {
    
    background-color: #CEB005;
 
}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top-main div#container-leds-top div#led-green {

    background-color: #36693E;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    width: 80%;
    height: 55%;
    padding: 2%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .7);


}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 20%;
   height: 5%;
   margin-bottom: 2%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led div#led-visor {

    width: 10px;
    height: 10px;
    background-color: #DE072D;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led-bottom {

    display: flex;
    justify-content: space-between;
    margin: 1%;
    margin-top: 4%;
    width: 95%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led-bottom div#led-visor-bottom {

    width: 20px;
    height: 20px;
    background-color: #DE072D;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led-bottom div#container-audio-exit {

    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led-bottom div#container-audio-exit div#audio-exit {

    width: 100%;
    height: 25%;
    margin: 4%;
    background-color: #222222;
    border-radius: 20px;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#visor-pokedex {

    width: 90%;
    height: 90%;
    background-image: url("../images/forest-visor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 26%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-button-circulo {

    display: flex;
    width: 22%;
    height: 100%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-button-circulo div#button-circulo {

    display: flex;
    width: 70%;
    height: 45%;
    margin: 15%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: #222222;
    transition: all 0.1s;
    cursor: pointer; 

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-button-circulo div#button-circulo:hover {

    transform: scale(0.9);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-name-and-buttons {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 80%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-name-and-buttons div#container-buttons-on-off {

    display: flex;
    justify-content: space-between;
    height: 20%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-name-and-buttons div#container-buttons-on-off > div{

    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 20px;
    color: #dedede;
    background-color: #7A0000;
    transition: all 0.1s;
    cursor: pointer;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-name-and-buttons div#container-buttons-on-off div#button-on{

 
    background-color: #146BA0;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-name-and-buttons div#container-buttons-on-off > div:hover{

    transform: scale(0.9);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-name-and-buttons div#visor-pokemon-name {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52AE5F;
    width: 100%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .7);
    font-family: 'VT323', monospace;
    padding: 1%;
    font-size: 2.5rem;
    color: #000000;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller > div {

    display: flex;
    background-color:#222222;
    width: 30%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .7);
    transition: all 0.1s;
    cursor: pointer

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller  div#container-botao-controller-meio {

    display: flex;
    width: 100%;
    background-color: #D30A40;
    border: none;
    border-radius: none;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller  div#container-botao-controller-meio div#botao-controller-meio {

    background-color:#222222;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 2px;
    width: 50%;
    margin: 1%;
    transition: all 0.1s;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller div#botao-controller:hover {

    transform: scale(0.9);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller div#botao-controller-meio:hover {

    transform: scale(0.9);

}

div.container div#container-pokedex div#pokedex div#pokedex-right {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 47%;
    height: 82%;
    margin-top: auto;
    background-color: #DC0A2D;
    border: 10px solid rgba(0, 0, 0, .3);
    border-left: 15px solid rgba(0, 0, 0, .3);
    border-radius: 8px;
    box-shadow: 7px 7px 10px #000000;

}

div.container div#container-pokedex div#pokedex div#pokedex-right div#container-second-visor {

    display: flex;
    width: 90%;
    height: 40%;

}

div.container div#container-pokedex div#pokedex div#pokedex-right div#container-second-visor div#second-visor {

    background-color: #000000;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#container-pokedex div#pokedex div#pokedex-right div#container-blue-buttons {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;

    width: 90%;
    height: 15%;
    margin-top: -15%;
    padding: 1%;

}

div.container div#container-pokedex div#pokedex div#pokedex-right div#container-blue-buttons div#blue-button {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
    background-color: #146BA0;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 2px;
    transition: transform 0.1s;
    cursor: pointer;

}

div.container div#container-pokedex div#pokedex div#pokedex-right div#container-blue-buttons div#blue-button:hover {

  transform: scale(0.9);

}

div.container div#pokemon-list {
   
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    max-width: 30vw;
    padding: 2%;
    margin-top: 4%;
    width: 100%;
    height: 80vh;

}

div.container div#pokemon-list div#pokemon-card {

    background-image: url("../images/background-blue-pokeball.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    max-width: 100px;
    flex: 1 1 100px;
    height: 120px;
    margin: 2%;
    box-shadow: 5px 5px 7px #000000;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 3px;
    border: 5px solid #dedede;

}

div.container div#pokemon-list div#pokemon-card:hover {

   transform: scale(1.2);

}

div.container div#pokemon-list div#pokemon-card img#pokemon-img {

    display: block;
    max-width: 100%;
 
 }