@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {

    font-size: 62.5%;
    right: 0;
    left: 0;
    top: 0;
}

body {

    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    
}

div.container {

    display: flex;
    align-items: center;
    padding: 1%;
    width: 100vw;
    height: 100vh;

    background-image: url("../images/forest.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

div.container div#pokedex-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    width: 100%;
    height: 90vh;

}

div.container div#pokedex-container div#pokedex {

    display: flex;
    width: 90%;
    height: 100%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 53%;
    height: 100%;

    background-color: #DC0A2D;
    border: 10px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000000;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container {

    display: flex;
    width: 100%;
    height: 18%;
    margin-bottom: 8%;
    padding: 1%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container {

    display: flex;
    justify-content: space-between;
    align-self: flex-start;

    width: 45%;
    height: 100%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container > div {

    width: 10%;
    height: 22%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    
}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container div#led-blue-container {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container div#led-blue-container div#blue-led {

    width: 80%;
    height: 80%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: #146BA0;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container div#red-led {


    background-color: #7A0000;
   

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container div#yellow-led {
    
    background-color: #CEB005;
 
}

div.container div#pokedex-container div#pokedex div#left-pokedex div#leds-top-main-container div#leds-top-container div#green-led {

    background-color: #36693E;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    width: 80%;
    height: 55%;
    padding: 2%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .7);


}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div#display-led-container {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 20%;
   height: 5%;
   margin-bottom: 2%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div#display-led-container div#display-led {

    width: 10px;
    height: 10px;
    background-color: #DE072D;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div.pokedex-display-on {

    width: 90%;
    height: 90%;
    background-image: url("../images/forest-visor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    transition: 0.5s;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div.pokedex-display-off {

    width: 90%;
    height: 90%;
    background-color: #000000;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    transition: 0.5s;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div#bottom-led-container {

    display: flex;
    justify-content: space-between;
    margin: 1%;
    margin-top: 4%;
    width: 95%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div#bottom-led-container div#bottom-led-display {

    width: 20px;
    height: 20px;
    background-color: #DE072D;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div#bottom-led-container div#audio-exit-container {

    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#display-border div#bottom-led-container div#audio-exit-container div#audio-exit {

    width: 100%;
    height: 25%;
    margin: 4%;
    background-color: #222222;
    border-radius: 20px;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 26%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#circle-button-container {

    display: flex;
    width: 22%;
    height: 100%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#circle-button-container div#circle-button {

    display: flex;
    width: 70%;
    height: 45%;
    margin: 15%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: #222222;
    transition: transform 0.1s;
    cursor: pointer; 

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#name-and-buttons-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 80%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#name-and-buttons-container div#on-off-buttons-container {

    display: flex;
    justify-content: space-between;
    height: 20%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#name-and-buttons-container div#on-off-buttons-container > div {

    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 20px;
    color: #dedede;
    background-color: #7A0000;
    transition: transform 0.1s;
    cursor: pointer;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#name-and-buttons-container div#on-off-buttons-container div#on-button {

 
    background-color: #146BA0;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#name-and-buttons-container div#pokemon-name-display {

    display: flex;
    background-color: #52AE5F;
    width: 100%;
    height: 50%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#controller-buttons-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75%;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#controller-buttons-container > div {

    display: flex;
    background-color:#222222;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .7);
    transition: transform 0.1s;
    cursor: pointer

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#controller-buttons-container  div#controller-middle-buttons-container {

    display: flex;
    width: 100%;
    background-color: #D30A40;
    border: none;
    border-radius: none;

}

div.container div#pokedex-container div#pokedex div#left-pokedex div#left-bottom-container div#controller-buttons-container  div#controller-middle-buttons-container > div {

    background-color:#222222;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    width: 50%;
    margin: 1%;
    transition: transform 0.1s;

}

div.container div#pokedex-container div#pokedex div#right-pokedex {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    height: 82%;
    margin-top: auto;
    background-color: #DC0A2D;
    border: 10px solid rgba(0, 0, 0, .3);
    border-left: 15px solid rgba(0, 0, 0, .3);
    border-radius: 8px;
    box-shadow: 7px 7px 10px #000000;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#second-display-container {

    display: flex;
    width: 90%;
    height: 45%;
    margin-top: 7%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#second-display-container div#second-display {

    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .7);
    padding: 2%;
    background-color: #000000;
    text-align: left;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#second-display-container div#second-display > p {

    position: relative;
    font-family: 'VT323', monospace;
    font-size: 2.6rem;
    text-align: left;
    color: #dedede;
    margin: 1.5%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#blue-buttons-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;

    width: 90%;
    height: 15%;
    padding: 1%;
    margin-top: 3%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#blue-buttons-container > div {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #dedede;
    background-color: #146BA0;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    transition: transform 0.1s;
    cursor: pointer;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#small-buttons-container {

    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 5%;
    margin-top: 1%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#small-buttons-container > div {

    width: 20%;
    height: 60%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: #222222;
    margin: 1%;
    transition: transform 0.1s;
    cursor: pointer;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#white-buttons-and-yellow-led-container {

    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 8%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#white-buttons-and-yellow-led-container div#white-buttons-container {

    display: flex;
    width: 40%;
    height: 100%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#white-buttons-and-yellow-led-container div#white-buttons-container > div {

    background-color: #dedede;
    width: 100%;
    height: 90%;
    margin: 1%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .7);
    transition: transform 0.1s;
    cursor: pointer;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#white-buttons-and-yellow-led-container div#yellow-led-container {

    display: flex;
    justify-content: flex-end;
    width: 20%;
    height: 100%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#white-buttons-and-yellow-led-container div#yellow-led-container div#yellow-led {

    width: 45%;
    height: 85%;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, .7);
    background-color: #CEB005;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#two-gray-buttons-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 15%;

}

div.container div#pokedex-container div#pokedex div#right-pokedex div#two-gray-buttons-container > div {

    width: 40%;
    height: 60%;
    background-color: #222222;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .7);
    transition: transform 0.1s;
    cursor: pointer;

}

div.container div#pokemon-list {
   
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    max-width: 30vw;
    padding: 2%;
    margin-top: 4%;
    width: 100%;
    height: 80vh;

}

div.container div#pokemon-list div#pokemon-card {

    background-image: url("../images/background-blue-pokeball.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    max-width: 100px;
    flex: 1 1 100px;
    height: 120px;
    margin: 2%;
    box-shadow: 5px 5px 7px #000000;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 3px;
    border: 5px solid #dedede;

}

div.container div#pokemon-list div#pokemon-card:hover {

   transform: scale(1.2);

}

div.container div#pokemon-list div#pokemon-card img#pokemon-img {

    display: block;
    max-width: 100%;
 
}