@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {

    font-size: 62.5%;
    right: 0;
    left: 0;
    top: 0;
}

body {

    font-size: 1.6rem;
    font-family: Arial, sans-serif;
    
}

div.container {

    display: flex;
    align-items: center;
    padding: 1%;
    width: 100vw;
    height: 100vh;

    background-image: url("../images/forest.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;

    background-color: #49B8FA;

}

div.container div#container-pokedex {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    width: 100%;
    height: 90vh;

}

div.container div#container-pokedex div#pokedex {

    display: flex;
    width: 90%;
    height: 100%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 55%;
    height: 100%;

    background-color: #D30A40;
    border: 5px solid rgba(0, 0, 0, .7);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000000;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top {

    display: flex;
    justify-content: space-between;
    align-self: flex-start;

    width: 50%;
    height: 15%;
    margin: 3%;
}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top > div {

    width: 10%;
    height: 25%;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, .7);
    
}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top div#led-blue {

    width: 40%;
    height: 100%;
    background-color: #146BA0;
    border: 10px solid #dddddd;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top div#led-red {


    background-color: #7A0000;
   

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top div#led-yellow {
    
    background-color: #CEB005;
 
}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-leds-top div#led-green {

    background-color: #23703B;

}


div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    width: 85%;
    height: 60%;
    padding: 2%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .7);


}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 20%;
   height: 5%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led div#led-visor {

    width: 10px;
    height: 10px;
    background-color: #DE072D;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, .7);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led-bottom {

    display: flex;
    align-self: flex-start;
    margin: 1%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#container-led-bottom div#led-visor-bottom {

    width: 20px;
    height: 20px;
    background-color: #DE072D;
    border-radius: 100%;
    border: 2px solid rgba(0, 0, 0, .7);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#border-visor div#visor-pokedex {

    width: 90%;
    height: 90%;

    /*background-image: url("../images/pokebola-neon.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;*/

    /*background-color: #49B8FA;*/
    background-color: #1d95df;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#visor-pokemon-name {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#52AF5F;
    width: 40%;
    height: 40%;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .7);
    font-family: 'VT323', monospace;
    padding: 1%;
    font-size: 2.5rem;
    color: #000000;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 70%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller > div {

    display: flex;
    background-color:#222222;
    width: 30%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .7);

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller  div#botao-controller-meio {

    display: flex;
    width: 100%;
    background-color: #D30A40;
    border: none;
    border-radius: none;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller  div#botao-controller-meio div#botao-controller-meio1 {

    background-color:#222222;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 2px;
    width: 50%;
    margin: 1%;

}

div.container div#container-pokedex div#pokedex div#pokedex-left div#container-bottom-left div#container-botoes-controller div#botao-controller-meio div#botao-controller-meio2 {

    background-color:#222222;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 2px;
    width: 50%;
    margin: 1%;

}

div.container div#container-pokedex div#pokedex div#pokedex-right {

    width: 45%;
    height: 82%;
    margin-top: auto;

    background-color: #D30A40;
    border: 5px solid rgba(0, 0, 0, .7);
    border-left: 15px solid rgba(0, 0, 0, .7);
    border-radius: 8px;
    box-shadow: 7px 7px 10px #000000;

}

div.container div#pokemon-list {
   
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    max-width: 30vw;
    padding: 2%;
    margin-top: 4%;
    width: 100%;
    height: 80vh;

}

div.container div#pokemon-list div#pokemon-card {

    /*background-image: url("../images/pokebola-neon.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;*/

    background-color: #146BA0;
    
    max-width: 100px;
    flex: 1 1 100px;
    height: 120px;
    margin: 2%;
    box-shadow: 5px 5px 7px #000000;
    transition: transform 0.5s;
    cursor: pointer;
    border-radius: 3px;
    border: 5px solid #dddddd;

}

div.container div#pokemon-list div#pokemon-card:hover {

   transform: scale(1.1);
   /*border: 3px solid rgba(0, 0, 0, .7);*/
   background-color: #1d95df;

}

div.container div#pokemon-list div#pokemon-card img#pokemon-img {

    display: block;
    max-width: 100%;
 
 }