* {
  @include initial-config()
}

html {
  font-size: $percent-html-font;
}

body {
  @include background-pokemon($background-main, true);
  font-size: $rem-font-size;
  color: $font-color;
  font-family: $font-main;
}
