* {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @include background-pokemon($background-main, true);
  font-size: 1.6rem;
  color: $font-color;
  font-family: $font-main;
}
