div.container {
  @include display-flex-config(center, center);
  padding: 1%;
  width: 100vw;
  height: 100vh;

  div.pokedex-container {
    @include display-flex-config(center, center);
    flex-direction: column;
    max-width: 70vw;
    width: 100%;
    height: 90vh;

    div#pokedex {
      @include display-flex-config();
      width: 90%;
      height: 100%;
    }
  }
}
