div#left-pokedex {
  @include display-flex-config(center);
  flex-direction: column;

  width: 53%;
  height: 100%;

  background-color: $pokedex-color;
  border: 1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 1rem #000000;

  div#leds-top-main-container {
    @include display-flex-config();
    width: 100%;
    height: 18%;
    margin-bottom: 8%;
    padding: 1%;

    div#leds-top-container {
      @include display-flex-config(flex-start, space-between);

      width: 45%;
      height: 100%;

      div {
        width: 10%;
        height: 22%;
        border-radius: 100%;
        border: 0.1rem solid rgba(0, 0, 0, 0.7);
      }

      div#led-blue-container {
        @include display-flex-config(center, center);
        width: 50%;
        height: 100%;
        background-color: $font-color;

        div#blue-led {
          width: 80%;
          height: 80%;
          border-radius: 100%;
          border: 0.1rem solid rgba(0, 0, 0, 0.7);
          background-color: $led-blue;
        }
      }

      div#red-led {
        background-color: $led-red;
      }

      div#yellow-led {
        background-color: $led-yellow;
      }

      div#green-led {
        background-color: $led-green;
      }
    }
  }

  div#display-border {
    @include display-flex-config(center, center);
    flex-direction: column;
    background-color: $font-color;
    width: 80%;
    height: 55%;
    padding: 2%;
    border-radius: 0.8rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.7);

    div#display-led-container {
      @include display-flex-config(center, space-between);
      width: 7rem;
      height: 1.4rem;
      margin-bottom: 2%;

      div#display-led {
        width: 1rem;
        height: 1rem;
        background-color: $pokedex-color;
        border-radius: 100%;
        border: 0.1rem solid rgba(0, 0, 0, 0.7);
      }
    }

    div.pokedex-display-off {
      @include display-flex-config();
      width: 90%;
      height: 90%;
      background-color: $pokedex-visor-off;
      border: 0.1rem solid rgba(0, 0, 0, 0.7);
      border-radius: 0.5rem;
      transition: 0.5s;
    }

    div.pokedex-display-on {
      @include display-flex-config(none, center);
      @include background-pokemon($background-visor-on);
      width: 90%;
      height: 90%;
      border: 0.1rem solid rgba(0, 0, 0, 0.7);
      border-radius: 0.5rem;
      transition: 0.5s;

      img#pokemon-display-img {
        display: block;
        max-width: 70%;
      }
    }

    div#bottom-led-container {
      @include display-flex-config(none, space-between);
      margin: 1%;
      margin-top: 4%;
      width: 95%;

      div#bottom-led-display {
        width: 2rem;
        height: 2rem;
        background-color: $pokedex-color;
        border-radius: 100%;
        border: 0.1rem solid rgba(0, 0, 0, 0.7);
      }

      div#audio-exit-container {
        @include display-flex-config();
        flex-direction: column;
        width: 15%;
        height: 100%;

        div#audio-exit {
          width: 100%;
          height: 30%;
          margin: 4%;
          background-color: $button-grey;
          border-radius: 2rem;
        }
      }
    }
  }

  div#left-bottom-container {
    @include display-flex-config(center, space-around);
    width: 100%;
    height: 26%;

    div#circle-button-container {
      @include display-flex-config();
      width: 22%;
      height: 100%;

      div#circle-button {
        @include display-flex-config();
        width: 70%;
        height: 45%;
        margin: 15%;
        border-radius: 100%;
        border: 0.1rem solid rgba(0, 0, 0, 0.7);
        background-color: $button-grey;
        transition: transform 0.1s;
        cursor: pointer;
      }
    }

    div#name-and-buttons-container {
      @include display-flex-config(none, space-around);
      flex-direction: column;
      width: 40%;
      height: 80%;

      div#on-off-buttons-container {
        @include display-flex-config(none, space-between);
        height: 20%;

        div {
          @include display-flex-config(center, center);
          width: 30%;
          height: 100%;
          border: 0.1rem solid rgba(0, 0, 0, 0.7);
          border-radius: 2rem;
          background-color: $led-red;
          transition: transform 0.1s;
          cursor: pointer;
        }

        div#on-button {
          background-color: $led-blue;
        }
      }

      div#pokemon-name-display {
        @include display-flex-config();
        background-color: $container-green;
        width: 100%;
        height: 50%;
        border-radius: 0.3rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.7);
      }
    }

    div#controller-buttons-container {
      @include display-flex-config(center);
      flex-direction: column;
      width: 25%;
      height: 75%;

      div {
        @include display-flex-config();
        background-color: $button-grey;
        width: 30%;
        height: 100%;
        border-radius: 0.5rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.7);
        transition: transform 0.1s;
        cursor: pointer;
      }

      div#controller-middle-buttons-container {
        @include display-flex-config();
        width: 100%;
        background-color: $pokedex-color;
        border: none;
        border-radius: none;
        margin-top: 0.1rem;
        margin-bottom: 0.2rem;

        div {
          background-color: $button-grey;
          border: 0.1rem solid rgba(0, 0, 0, 0.7);
          border-radius: 0.5rem;
          width: 50%;
          margin: 1%;
          transition: transform 0.1s;
        }
      }
    }
  }
}
